body {
    background: #EAF2FD;
    font-family: 'Raleway' , open sans-serif;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.titulosStyle {
    color: #464646;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.subTitulos {
    color: #464646;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;

}